<a href="https://colab.research.google.com/github/bascii006keitaromae/5602105-Coding-for-Entrepreneurs-A-starter-guide-Section-1/blob/main/lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for num in range(1,5):
    print(num)

for num in range(1, 10, 3):
  print(num)

print('Number\tSquare')
print('--------------')

for number in range(1, 11):
  square = number**2
  print(number, '\t', square)

Number	Square
--------------
1 	 1
2 	 4
3 	 9
4 	 16
5 	 25
6 	 36
7 	 49
8 	 64
9 	 81
10 	 100

In [ ]:
for x in range(6):
  print('I love to progran!')

for num in range(6):
  print(num)

for num in range(2, 6):
  print(num)

for num in range(0, 501, 100):
  print(num)

I love to progran!
I love to progran!
I love to progran!
I love to progran!
I love to progran!
I love to progran!
0
1
2
3
4
5
2
3
4
5
0
100
200
300
400
500

In [ ]:
!pip install ColabTurtlePlus
import ColabTurtlePlus.Turtle as turtle

for x in range(8):
  turtle.forward(100)
  turtle.right(45)

Requirement already satisfied: ColabTurtlePlus in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [ ]:
!pip install ColabTurtlePlus
import ColabTurtlePlus.Turtle as turtle

NUM_CIRCLES = 36
RADIOUS = 100
ANGLE = 10
ANIMATION_SPEED = 0

turtle.speed(ANIMATION_SPEED)

for x in range(NUM_CIRCLES):
  turtle.circle(RADIOUS)
  turtle.left(ANGLE)

Requirement already satisfied: ColabTurtlePlus in /usr/local/lib/python3.10/dist-packages (2.0.1)

In [ ]:
#lab5-1
num = int(input("Enter a number: "))

for x in range(num):
  print("Hello World!")

Enter a number: 5
Hello World!
Hello World!
Hello World!
Hello World!
Hello World!

In [ ]:
#lab5-2
end = int(input("Enter an integer number: "))
result = 0

for i in range(end+1):
  result += i

print("The sum of all numbers from 0 to", end ,"is", result)

Enter an integer number: 7
The sum of all numbers from 0 to 7 is 28

In [ ]:
#lab5-3
start = int(input("Enter the starting number: "))
end = int(input("Enter the ending number: "))
result = 0

for i in range(start, end+1):
  result += i

print("The sum of all numbers from",start,"to",end,"is",result )

Enter the starting number: 9
Enter the ending number: 12
The sum of all numbers from 9 to 12 is 42

In [ ]:
#lab5-4
num = int(input("Enter a number to print the multiplication table: "))
result = 1

print("The multiplication Table of: ",num)

for i in range(1, 13):
  result = num*i
  print(num,"x",i,"=",result)

Enter a number to print the multiplication table: 6
The multiplication Table of:  6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

In [ ]:
#lab5-5
quiz = int(input("How many quizzes do we have? "))
total = 0.0
for i in range(quiz):
  score = int(input(f"Score of Quiz# {i+1}: "))
  total += score

average = total/quiz
print("--------------")
print(f"Average Quiz Score: {average:.2f}")

How many quizzes do we have? 5
Score of Quiz# 1: 4
Score of Quiz# 2: 4
Score of Quiz# 3: 4
Score of Quiz# 4: 4
Score of Quiz# 5: 4
--------------
Average Quiz Score: 4.00

In [ ]:
#lab5-6
n = int(input("Enter the #: "))
for r in range(n):
  for c in range(r+1):
    print("$", end="")
  print()

Enter the #: 5
$
$$
$$$
$$$$
$$$$$

In [ ]:
row = int(input("Enter the # of rows: "))
col = int(input("Enter the # of columns: "))

for r in range(row):
  for c in range(col):
    print("$", end="")
  print()

Enter the # of rows: 1
Enter the # of columns: 5
$$$$$