<a href="https://colab.research.google.com/github/bascii006keitaromae/5602105-Coding-for-Entrepreneurs-A-starter-guide-Section-1/blob/main/Lab_1_Introduction_to_Pyton_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**Bachelor of Arts and Science in Integrated Innovation Chulalongkorn School of Integrated Innovation**

*5602105 Coding for Entrepreneurs: Starter Guide*  

# Lab 01: Introduction to Python

# Exercise 1

Type the following statement then click the ![Screenshot 2024-08-03 at 16.13.40.png]()
icon to run the code.

`print('This is a test of the Python interpreter.')`

Expected Output:

`This is a test of the Python interpreter.`

In [ ]:
# Use the print() function to display the text
print('This is a test of the Python interpreter.')

This is a test of the Python interpreter.

# Exercise 2

Print a simple text: **"5602105 Coding for Entrepreneurs: Starter Guide"**.

> 引用を追加



Expected Output:

`5602105 Coding for Entrepreneurs: Starter Guide`

In [ ]:
# Use the print() function to display the text
# Write your code below
print('5602105 Coding for Entreprenuers: Starter Guide')

5602105 Coding for Entreprenuers: Starter Guide

# Exercise 3

**Task:** Declare two variables **name** and **surname**, assign your name and surname to these variables, and then **print** them.

*Example Scenario: A user named John Doe uses the program.*

Expected Output:

`John Doe`

In [ ]:
# Write your code below

# Declare a variable named 'name' and assign your first name to it
name = 'Keitaro'

# Declare another variable named 'surname' and assign your surname to it
surname = 'Mae'

# Use the print() function to display the contents of 'name' and 'surname' in one line
print(name, surname)

Keitaro Mae

# Exercise 4

**Task:** Assign the value **10** to a variable **a** and print it.

*Example scenario: Assign a fixed number to a variable.*

Expected Output:

`10`

In [ ]:
# Write your code below
# Create a variable 'a', assign it the value 10, and then use print() to display its value.
a = 10
print(a)

10

# Exercise 5

**Task:** Assign values to **two variables** and print the **result of their addition**.

*Example scenario: Add two numbers, say 5 and 7.*

Expected Output:
`12`

In [ ]:
# Write your code below

# Create two variables, assign numbers to them, and then print the sum of these numbers.
num_one = 3
num_two = 2
sum = num_one + num_two

print(sum)

5

# Exercise 6

**Task:** Declare a variable and assign it a value using **input()**.

Print the value assigned from the input.

*Example scenario: assuming the user input was "Hello".*

Expected Output:


```
Enter a value: Hello
Hello
```

In [ ]:
# Write your code below

# Use the input() function to get a value from the user and store it in a variable.
value = input("Enter a value: ")
# Then, print the value of that variable.
print(value)

Enter a value: Hello
Hello

# Exercise 7

**Task:** Take two numbers as input from the user, add them, and print the result.

*Example scenario: User inputs two numbers, say 8 and 5.*

Expected Output:

```
Enter first number: 8
Enter second number: 5
Sum: 13
```

In [ ]:
# Write your code below

# Use input() to get the first number from the user and store it in num1
first_num = int(input("Enter first number: "))
# Use input() to get the second number from the user and store it in num2
second_num = int(input("Enter second number: "))
# Convert num1 and num2 to floats (or integers) for arithmetic operation
sum = first_num + second_num
# Add num1 and num2 and store the result in a variable named 'sum'

# Print the sum using the print() function
print(sum)

Enter first number: 8
Enter second number: 5
13

# Exercise 8

**Task:** Take two numbers as input from the user, subtract them, and print the result.

*Example Scenario: User inputs two numbers, say 15 and 7.*

Expected Output:

```
Enter first number: 15
Enter second number: 7
Difference: 8
```

In [ ]:
# Write your code below

# Use input() to get the first number from the user and store it in a variable, say num1
num1 = int(input("Enter first number: "))
# Use input() to get the second number from the user and store it in another variable, say num2
num2 = int(input("Enter second number: "))
# Convert num1 and num2 to floats (or integers) for arithmetic operation

# Subtract num2 from num1 and store the result in a variable, say difference
difference = num1 - num2
# Print the difference using the print() function
print(difference)

Enter first number: 15
Enter second number: 7
8

# Exercise 9

**Task:** Create a simple mathematical equation that requires inputs, calculate the result, and print it.

 *Example scenario: User inputs values for a simple equation, say a=2 and b=3 for a * b + 5.*

Expected Output:

Result:



```
Enter value for a: 2
Enter value for b: 3
Result: 11
```

In [ ]:
# Your code here

# Use input() to get the first value from the user and store it in a variable, say a
a = int(input("Enter value for a: "))
# Use input() to get the second value from the user and store it in another variable, say b
b = int(input("Enter value for b: "))
# Convert a and b to floats (or integers) for arithmetic operation

# Perform the mathematical operation (e.g., a * b + 5) and store the result in a variable, say result
result = a * b + 5
# Print the result using the print() function
print("product of", a,",", b, "and addition of 5 is:",
      result)

Enter value for a: 4
Enter value for b: 3
product of 4 , 3 and addition of 5 is: 17

# Exercise 10

**Task:** Imagine you are a shopkeeper. You need to calculate the price per item. Take the total price and the number of items as input from the user, then compute and print the price per item.

**Expected Output:**
```
Enter the total price of the items: 30.00
Enter the number of items purchased: 3
Price per item: 10.0
```

In [ ]:
# Use input() to get the total price from the user and store it in a variable, say total_price
total_price = int(input("Enter the total price of the items: "))
# Use input() to get the number of items from the user and store it in another variable, say number_of_items
number_of_items = int(input("Enter the number of items purchased: "))
# Convert total_price and number_of_items to floats (or integers) for arithmetic operation

# Calculate the price per item by dividing total_price by number_of_items and store the result in a variable, say price_per_item
price_per_item = total_price / number_of_items
# Print the price per item using the print() function
print("Price per item:", price_per_item)

Enter the total price of the items: 80
Enter the number of items purchased: 8
Price per item: 10.0