<a href="https://colab.research.google.com/github/bascii006keitaromae/5602105-Coding-for-Entrepreneurs-A-starter-guide-Section-1/blob/main/Lab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Lab 2-1
v1 = 5 + 2 * 4
print("Exp#1: 5+2*4 =", v1)

v2 = (5 + 2) * 4
print("Exp#2: (5+2)*4 =", v2)

v3 = 10 / 2 - 3
print("Exp#3: 10/2-3 =", v3)

v4 = 10 / (5 - 3)
print("Exp#4: 10/(5-3) =", v4)

v5 = 8 + 12 * 2 - 4
print("Exp#5: 8 + 12 * 2 - 4 =", v5)

v6 = 8 + 12 * (6 - 2)
print("Exp#6: 8 + 12 * (6 - 2) =", v6)

v7 = 6 - 3 * 2 + 7 - 1
print("Exp#7: 6 - 3 * 2 + 7 - 1 =", v7)

v8 = (6 - 3) * (2 + 7) / 3
print("Exp#8: (6 - 3) * (2 + 7) / 3 =", v8)

Exp#1: 5+2*4 = 13
Exp#2: (5+2)*4 = 28
Exp#3: 10/2-3 = 2.0
Exp#4: 10/(5-3) = 5.0
Exp#5: 8 + 12 * 2 - 4 = 28
Exp#6: 8 + 12 * (6 - 2) = 56
Exp#7: 6 - 3 * 2 + 7 - 1 = 6
Exp#8: (6 - 3) * (2 + 7) / 3 = 9.0

In [ ]:
#Try: Calculate circumference of a circle
import math
r = 5
c = 2 * math.pi * r
print("Circumference of a circle with the radious", r)
print("=", c)

Circumference of a circle with the radious 5
= 31.41592653589793

In [ ]:
#Lab 2-2 Calculate the area of a circle
import math
radius = int(input("Enter a value of radius: "))
area = math.pi * (r ** 2)
print("The area of the circle is",area)

Enter a value of radius: 4
The area of the circle is 78.53981633974483

In [ ]:
#Lab 2-3: Calculate a sale price (20% discount)
original = int(input("Enter a price: "))
discount = original * 0.8
print("discounted price of", original, "is", discount)

Enter a price: 100
discounted price of 100 is 80.0

In [ ]:
#Lab 2-4: Calculate an average
first = int(input("Enter the first test score: "))
second = int(input("Enter the second test score: "))
third = int(input("Enter the third test score: "))
average = (first + second + third) / 3
print("The average score is: ", average)

Enter the first test score: 90
Enter the second test score: 80
Enter the third test score: 90
The average score is:  86.66666666666667

In [ ]:
#Lab 2-5: Annual Salary Calculation
sal = float(input("Enter your monthly salary: "))
ann = sal * 12
print(f'Your monthly salary is {sal:,.2f} and your annual salary is {ann:,.2f}')

Enter your monthly salary: 901.992
Your monthly salary is 901.99 and your annual salary is 10,823.90

In [ ]:
#Lab 2-6:
starter = "S T A R T E R"
line1 = "fresh mozzarella with grape"
line2 = "tomatoes and basil"
main = "M A I N"
line3 = "grilled organic salmon"
dessert = "D E S S E R T"
line4 = "ice cream"
print(f"{starter:^30}", "\n")
print(f"{line1:^30}", "\n")
print(f"{line2:^30}", "\n")
print(f"{main:^30}", "\n")
print(f"{line3:^30}", "\n")
print(f"{dessert:^30}", "\n")
print(f"{line4:^30}", "\n")

        S T A R T E R

 fresh mozzarella with grape

      tomatoes and basil

           M A I N

    grilled organic salmon

        D E S S E R T

          ice cream